target/
out/
bin/
build/
dist/
*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar


*.log
logs/
hs_err_pid*
replay_pid*
surefire-reports/
failsafe-reports/

coverage/
jacoco.exec
*.exec


.idea/
*.iml

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.classpath
.project
.settings/


.DS_Store
Thumbs.db
Desktop.ini


*.tmp
*.temp
*.swp
*~